[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

ipython = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"
ipdb = "*"


[packages]

attrs = "*"
ratelimiter = "*"
socketio-client = "*"


[requires]

python_version = "3.6"
